USE [master]
GO
/****** Object:  Database [chatapp]    Script Date: 2024/11/23 17:08:57 ******/
CREATE DATABASE [chatapp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'chatapp', FILENAME = N'D:\study soft\SQLServer\实例根目录\MSSQL15.MSSQLSERVER\MSSQL\DATA\chatapp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'chatapp_log', FILENAME = N'D:\study soft\SQLServer\实例根目录\MSSQL15.MSSQLSERVER\MSSQL\DATA\chatapp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [chatapp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [chatapp]
GO
/****** Object:  Table [dbo].[messages]    Script Date: 2024/11/23 17:08:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[messages](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[message] [nvarchar](max) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
